[submodule "vendors/emath"]
	path = vendors/emath
	url = https://github.com/RealAstolfo/emath.git
[submodule "vendors/ethreads"]
	path = vendors/ethreads
	url = https://github.com/RealAstolfo/ethreads.git
[submodule "vendors/exstd"]
	path = vendors/exstd
	url = https://github.com/RealAstolfo/exstd.git
