[submodule "vendors/emath"]
	path = vendors/emath
	url = ssh://git@10.0.50.1:2222/emath.git
[submodule "vendors/ethreads"]
	path = vendors/ethreads
	url = ssh://git@10.0.50.1:2222/ethreads.git
[submodule "vendors/exstd"]
	path = vendors/exstd
	url = ssh://git@10.0.50.1:2222/exstd.git
